.codein-extension-task-ignore {
    opacity: 0.5 !important;
}

.codein-extension-task-handled {
    color: #9ccc00 !important;
}

.codein-extension-task-highlighted {
    color: #e53935 !important;
}

.codein-extension-task-running-out-of-time {
    color: #2894ed !important;
}
